<model>
  <name>robot</name>
  <author>
    <name>Mya Schroder</name>
  </author>
  <version>1.0</version>
  <sdf version="1.6">robot.sdf</sdf>
  <description>
    UR3e robot.
    SDF (converted from URDF) and  meshes from 
    https://github.com/Daniella1/urdf_files_dataset/blob/main/urdf_files/ros-industrial/xacro_generated/universal_robots/ur_description/urdf/ur3e.urdf
  </description>
</model>
